/**/
:root {
    --dark-back:rgba(15,20,20,1);
    --text-color:rgba(255,255,255,0.4);
    --light-text-color:rgba(255,255,255,0.2);
    --add-background:rgba(255,255,255,0.025);
    --more-add-background:rgba(255,255,255,0.05);
    --email-spacing:20px;
    --email-content-text-color:rgba(255,255,255,0.7);
    --typography:"Google Sans";
    --spacing-letters:1px;
    --sender-col-width:200px;
    --icon-opacity:0.4;
    --menu-background-color:rgba(15,20,20,1);
    --subtile-blue-text:color:rgba(200,200,255,0.5);
    --inverted-yellow-blue:rgb(53, 75, 138);
    --email-header-font:'Roboto';
    --email-header-size:24px;
    --email-header-font-weight:400;
}

/*Global Settings*/


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /*Hide Scrollbars*/
.aeJ::-webkit-scrollbar {
    display: none;
  }
  
.w-asV.aiw, .nH.bkK.nn {
    background:var(--dark-background);
}

body {
    color:var(--text-color);
}

/*Hide Google Apps Button*/
.gb_D {
    display:none; /*TODO - show the user profile logo but hide the google apps*/
}


/*Hide left Sidebar*/
.aeN {
    display:none;
}

/*Hide gmail logo at top*/
.gb_2c {
    display:none;
}

/*icon colors*/
.gb_zc svg, .gb_Fc.gb_Kc svg, .gb_zc .gb_2c .gb_he, .gb_zc .gb_2c .gb_yc, .gb_zc .gb_2c .gb_4c, .gb_Fc.gb_Kc .gb_he {
    color:rgb(255,255,255);
    opacity:var(--icon-opacity);
}

.bi4>.T-KT:not(.T-KT-Jp):not(.byM)::before {
    opacity:var(--icon-opacity);/*Is this needed? TODO*/
}

.T-I-ax7 .T-I-J3 {
     opacity:var(--icon-opacity);
}

.T-Jo {
     opacity:var(--icon-opacity);
}


@import 'inbox-view.css';
@import 'header.css';
@import 'search-contact-window.css';
@import 'search.css';

